@import "nib"
@import "normalize.styl"
@import "fonts.styl"


anaranjado =  #e84207
celeste= #1fa392
azul = #042a34
gris = #3c3f35 
gris_claro = #f2f2f2
roboto= 'Roboto Slab', serif
border_caja = #DDDDDD
border_hover= #F5F5F5

.Body-overlay
  display none
  position fixed
  width 100%
  height 100%
  top 0
  bottom 0
  left 0
  z-index 999
  background-color rgba(0,0,0,.7)
  
.SmartOverlay
  display none
  position fixed
  width 100%
  height 100%
  top 0
  bottom 0
  left 0
  z-index 999
  background-color rgba(0,0,0,.7)

.OLRegister
  background rgba(255,255,255,0.8)
  background-size cover
  background-position center
  background-repeat no-repeat
  width 45%
  margin 10em auto
  text-align center
  border-radius .5em

.OLRegister-formContainer,.OLRegister-network
  display inline-block

.OLRegister-network
  vertical-align top
  margin-top 3.4em
  margin-left 2em

.OLRegister-title
  color #023844
  font-family 'Roboto Slab', serif
  font-weight bold
  font-size 1.5em
  display inline

.OLRegister-input
  display block
  padding 1em
  border-radius .2em
  border none
  font-family 'Roboto Slab', serif
  color #023844
  font-size 1.2em
  margin 0 auto 1em
  -webkit-transition all 0.5s ease
  &:focus
    -webkit-box-shadow 0 4px #023844 inset
    -moz-box-shadow 0 0 4px #023844 inset
    -ms-box-shadow 0 0 4px #023844 inset
    -o-box-shadow 0 0 4px #023844 inset
    box-shadow 0 0 4px #023844 inset
    background #ffffc6
 

.OLRegister-send
.OLRegister-cancel
  color #023844
  background #a1c9c5
  padding .5em 1em
  border none
  margin-left 2em
  font-weight bold
  border-radius .2em
  border-bottom 4px solid #1db1a3
  margin-bottom 2em
  font-family 'Roboto Slab', serif

.OLRegister-send
  &:hover
    color white
    background #e84207
    border-bottom 4px solid #023844

.OLRegister-facebookLink, .OLRegister-googleLink,
.OLRegister-twitterLink
  display block
  color white
  padding 1em 3em
  text-decoration none
  font-size 1em

.OLRegister-close
  float right
  color #e84207
  text-decoration none
  margin 1em 1em 0 0
  &:hover
    color #023844

.OLRegister-facebookLink
  background #495e90
  &:hover
    background #2f3d5e

.OLRegister-googleLink
  background #d3402a
  &:hover
    background #a83322

.OLRegister-twitterLink
  background #55acee
  &:hover
    background #1c91e8

.OLRegister-icon
  font-size 1.4em
  margin-right .5em

.Header
  background rgba(255,255,252,1)
  position fixed
  left 0
  right 0
  display table
  z-index 2
  border-bottom 2px solid #023844

.Header-logoLink
  text-decoration none

.Header-containerImage
  margin 0
  padding 1em 0 0 0.5em
  width 9%
  display table-cell
  vertical-align middle

.Header-image
  padding 0
  text-decoration none
  width 100%

.MainMenu
  display table-cell
  vertical-align middle
  padding-left 3em
  margin 0

.MainMenu-list
  margin 0
  padding 0

.MainMenu-itemCont
  float right
  margin-right 1em

.MainMenu-item
  display inline-block

.MainMenu-link
  text-decoration none
  color #333c4e
  font-size 0.9em
  &:hover
    color #e84207

.MainMenu-itemSignIn
  display inline-block
  font-weight bold
  text-transform uppercase

.MainMenu-appStore,.MainMenu-google
  width 10%
  text-decoration none

.MainMenu-linkSignIn
  text-decoration none
  border 3px solid #023844
  display block
  padding 0.5em
  color #444444

.InfoPrincipal
  overflow hidden
  text-align center
  height 45em
  background url('../img/miami2.jpg')
  background-size cover
  background-position center
  background-repeat no-repeat

.InfoPrincipa-phone
  display inline-block
  margin-right 3em



.InfoPrincipal-image
  width 94%
  margin-top 10em

.InfoPrincipal-containerDescription
  vertical-align top
  text-align left
  display inline-block
  padding-top 11em
  width 60%

.InfoPrincipal-title
  color #e84207
  font-family 'Roboto Slab', serif
  font-weight 300
  font-size 4em
  padding 0

.InfoPrincipal-marca
  font-weight bold
  font-family 'Roboto Slab', serif

.InfoPrincipal-subtitle
  color #023844
  font-size 1.3em
  font-weight bold
  font-family 'Roboto Slab', serif

.InfoPrincipal-more
  color #023844
  text-align right
  &:hover
    color #e84207

.InfoPrincipal-assoContainer

.InfoPrincipal-linkContainer
  display inline-block

.InfoPrincipal-link
  display block
  background #023844
  padding 1em
  border-radius .5em
  color white
  text-decoration none
  border-bottom 5px solid #1db1a3
  margin-right 1em
  font-family 'Roboto Slab', serif
  &:hover
    background #e84207
    border-bottom 5px solid #023844

.RequestDelivery
  background white

.RequestDelivery-container
  text-align center
  padding-top 2em
  width 100%
  

.RequestDelivery-content
  width 43%
  text-align left
  display inline-block
  vertical-align top

.link-derecho
  text-align center

.RequestDelivery-title
  vertical-align top
  font-family 'Roboto Slab', serif
  font-size 4em
  font-weight lighter
  margin 0
  color #023844

.RequestDelivery-description
  display inline-block
  vertical-align top
  line-height 2em
  font-size 1.3em
  color #333c4e

.RequestDelivery-imageContainer
  width 45%
  display inline-block
  margin 0

.RequestDelivery-image
  float right
  width 90%
  height auto
  border-radius 50%
  vertical-align bottom

.TrackingDelivery
  position relative
  overflow hidden

.TrackingDelivery-content
  position absolute
  top 0
  right 0
  width 35%
  margin 1em 4em 0 0
  background white
  border-radius 0.7em
  padding-left 1em

#map_canvas
  height 450px
  opacity .4
 
.TrackingDelivery-title
  font-family 'Roboto Slab', serif
  font-size 3em
  font-weight lighter
  margin 0
  color #e84207

.TrackingDelivery-description
  line-height 2em
  font-size 1.3em
  color #333c4e

.ReceiveDelivery-article
  height 29em
  position relative
  background white
  overflow visible

.ReceiveDelivery-content
  width 40%
  text-align left
  margin 3.2em 0 0 5em
  display inline-block

.ReceiveDelivery-imageContainer
  margin 0
  display inline-block
  width 40%
  position absolute 
  bottom 0
  right 0

.ReceiveDelivery-image
  width 100%
  

  

.ReceiveDelivery-title
  font-family 'Roboto Slab', serif
  font-size 4em
  font-weight lighter
  margin 0
  color #023844

.ReceiveDelivery-description
  line-height 2em
  font-size 1.3em
  color #333c4e

.Footer
  height 8em
  background-color #023844
  text-align center
  padding-top 5em

.Footer-containerDes
  padding 0
  display inline-block
  padding-left 5em

.Footer-title
  color rgba(255,255,255,0.4)
  margin 0
  display inline-block
  padding 0
  font-size .9em

.Footer-networkContainer
  margin 0
  padding 0
  display inline-block
  float right

.Footer-network
  color white
  text-decoration none
  font-size 1.2em
  margin-right .2em
  display block
  background #1db1a3
  padding .2em
  border-radius .2em
  &:hover
    background #e84207

.Footer-corporation
  color rgba(255,255,255,0.4)
  display inline-block
  margin 0
  font-size .9em

.Footer-link
  color rgba(255,255,255,0.4)
  text-decoration none

.none
  display none

.MenuSmart 
  display none

@media screen and (max-width:800px)
  .MenuSmart 
    display block
  .left
    text-align left
  .size-title
    font-size .6em
    
  .Header
    display none
    
  .InfoPrincipal
    height 40em
    
    
    &-image
      margin 30em 30%
      width 60%
      height auto
      opacity .3
    
    &-containerDescription
      position absolute   
      padding-top 1em
      top 0
      left 0
      width 100%
      text-align center
    
    &-title
      font-size 2.5em
      padding .7em 0 0
    
    &-logoc
      padding 0
      margin-top 3em
      width auto
      height auto
      display inline-block
    
    &-title 
      margin 0
      
    &-link
      display  block
      margin 0 auto
      padding 1em
      border-radius 18%
      &.linkTable
        width 24%
        
      .icon-food
      .icon-truck
        font-size 2em
        display block
        &:before
          margin-right 0
      .Asociado
        display block
    
    &-linkContainer 
      text-align center
      width 40%
      height auto
      &.link-info
        width 100%
        
      
      
    &-subtitle
      font-weight 500
      font-size 1.1em
  
  #map_canvas
    padding 1.5em 0
  
  .RequestDelivery
    
    &-container
      position relative
      
    &-content
      position: relative
    
    &-imageContainer
      position absolute
      width 35%
      top 16%
      left 34%
    &-image
      border-radius 10%
      width 100%
      border 5px inset celeste
    &-description
      padding 13em .5em 0
    &-content
      width 100%
      text-align center
 
    &-title
      font-size 2.5em
      font-weight normal
      display inline-block
 
  .TrackingDelivery
    
    &-content
      margin-top 8em
      padding .1em 0
      width 100%
 
      left .4em
      right 0
      text-align center
    &-description
      padding 1em 0
    &-title
      font-size 2.5em
      font-weight normal
      
  .ReceiveDelivery
    text-align center
    &-article
      position relative
     
    &-content
      width 100%
      text-align center
    &-imageContainer
      position absolute
      top 0
      left 0
      width 30%
      margin 1em auto
    &-content
      margin 13em 0
      
    &-image
      border-radius 10%
      width 100%
      height auto
      border 5px outset anaranjado 
      
    &-title
      font-size 2.5em 
      
  .Footer
    &-networkContainer
      text-align center
    &-containerDes
      display none
      
    &-networkContainer
      display block
      width 100%
    &-title
      font-size 1.5em
      margin-right 1em
      &:last-child
        margin-right 0
    &-network
    
      border-radius 50%
      padding .3em
  
 
  .MenuSmart
    &-bottons
      width 100%
      background rgba(0, 0, 0, .75)
      height 3.5em
      position fixed
      top 0
      z-index 2
    &-button
      
      color anaranjado
      border-radius 5px 
      padding 10px 
      background none
      border none
      font-size 1.4em
      position fixed
      left 14px
      top 7px
      z-index 3
      display none
      &.is-active
        display block
    
    .MainMenuu
      padding 0 0
      width 250px
      overflow scroll
      position fixed
      left -250px
      top 0
      bottom 0
      z-index 1000
      margin 0
      -webkit-transition .3s
      background celeste
      &-Separ
        width 100%
        height 3.5em
        background rgba(0, 0, 0, 0.4)
      &.is-active
       left 0
      &-logoCont
        display inline
        margin 0
        padding 0
      &-btnClose
        position absolute
        left .5em
        top .5em
        outline 0
        background none
        border none
        color white
        font-size 1.4em
        
      &-title
        text-align center
        margin 0
        padding .5em 0
        color white
        font-size 1.2em
        background rgba(0, 0, 0, .75)
      &-item
        text-align left
        height 40px
        line-height 40px
        transition 1s
        list-style none
        &:hover
          background azul 
        &.Item-register
          height 30px
          line-height 30px
        &.item-button
          border-bottom 1px solid #188476
        &.img-download
          text-align center
          padding .5em 0 
      &-link
        color white
        text-decoration none
        text-transform uppercase
        font-size 14px
        padding 0 0 0 .7em
        display block
        margin 0
        &.link-register
          text-align center
          background azul
          width 70%
          margin .5em auto
          padding 0
          border 1px inset white
          
@media screen and (max-width:425px)
  .RequestDelivery
    &-imageContainer
      width 60%
      top 15%
      left 20%
    &-image
      width 100%
  .ReceiveDelivery
    
    &-imageContainer
      width 50%

@media screen and (max-width:396px) 
  .RequestDelivery
    &-title
      font-size 2.2em
@media screen and (max-width:320px)     
   .RequestDelivery
    &-title
      font-size 2em
    &-description
      padding 10em .5em 0
      
// **********Profile**********
.profile-body
  background-color gris_claro
.profile-menu
  display none

.profile
  position relative
  margin-top 3.5em
  z-index 1
  &__container
    background-color celeste
    text-align center
  &__name
    margin 0 auto
    padding 0
    color white
    font-family roboto
    font-weight lighter
  &__imgPerfilConteiner
    display inline-block
    width 35%
    margin 1rem 0 1rem 0
  &__imgPerfil
    border-radius 50%
    width 100%
    
  &__imgMotoConatiner
    margin 0
    position absolute
    top 0 
    right 0
  &__imgMoto
    margin .3rem .3rem 0 0
    
.profile-info 
  margin 1rem
  border-radius .7rem
  box-shadow: 3px 3px 20px #888888;
  border 1px solid border_caja
  background-color white
  
 
  &__container
  
  &__title
    font-family roboto
    font-size 1rem
    text-align center
    font-weight bold
    text-transform uppercase
    color gris
  &__list
    list-style none
    margin 0
    padding 0
    text-align left
    border 1px solid border_caja
  &__item
    text-transform none
    border-bottom 1px solid border_caja
    text-decoration none
    color gris
    display block
    padding 1rem 0 1rem 1rem  
    &:hover
      background-color border_hover
  
   
  &__icon
    margin-right .5rem
    padding-left 1rem
    &.fa
      font-size 1.4rem
  &__datos
    font-size 1.2rem
    padding-left 1rem
    text-decoration none
    font-weight normal

@media screen and (min-width:801px)
  .contend-notebook
    display flex
    align-items initial
  .profile-menu   
    display block
    flex-grow 1
    .profile-info    
      &__list
        height 110%vh
      &__item
        padding .2rem 0 .2rem 1rem  
      &__link
        text-decoration none
        display block 
        padding .8rem
        color gris
  .profile-content
    flex-grow 3
    .profile
      margin-top 1rem
      &__container
        border-radius .5rem

.right
  text-align right
.send
  width 80% 
  margin 0
  margin 3rem 0 3rem 0
.register
  margin 0 auto
  margin-top 3.5rem
  display flex
  justify-content center
  margin-bottom 25vh
  margin-top 12rem 
  &__google
  &__facebook
    display block
    padding 1rem 2rem 1rem 2rem
    color white
    text-decoration none
    span
      margin-left .5rem
  &__facebook
    background #3F5D9A
   
  &__google
    background #C43B2B
    margin-right .5rem
  &__tab 
    background #294b53
    display flex
    align-items center
    width 22%
  &__list
    padding 0
    margin-left .2rem  
    width 100%
  &__item
    list-style none
    width 100%
    &:last-child
      width 90%
  &__link
    display block
    background anaranjado 
    padding 1.5rem 3rem 1.5rem .5rem
    font-family roboto
    font-weight lighter
    font-size 1rem
    margin .4rem 0 0 0  
    text-decoration none
    color white

    &--white
      background white
      color celeste 
      padding-right 8rem
    
  &__link--margin
      margin-right .5rem
  

  &__resta
    text-align center
    background-color white
    width 30vw

  &__form
    text-align center
    background-color white
    width 30vw
    display none
  &__title
    font-family roboto
    text-transform uppercase  
    color azul 
  .form
    text-align left
    margin-left 2rem
    width 100%
    border none
  
  &__titleInput
    font-family roboto
    margin-left .8rem
  &__contInput
    display table
    margin-bottom 1rem
    .input-group-addon
      background #EEEEEE
      color #333333
      padding .7rem .6rem .7rem .6rem
      margin 0
      border 1px solid #cccccc
      border-radius .3rem
      border-right 0
      border-bottom-right-radius 0
      border-top-right-radius 0
      white-space nowrap
      display table-cell
      vertical-align middle

  &__input
    background white
    border 1px solid #cccccc
    border-radius .3rem
    padding .7rem 0 .57rem .6rem
    border-bottom-left-radius 0
    border-top-left-radius 0
    display table-cell
    vertical-align middle
    width 20vw
    &:focus
      outline  none
      border-color celeste
      box-shadow 0 0 10px celeste
    
  &__btnSend 
    
    background celeste
    color white
    font-family roboto
    font-weight lighter 
    padding .7rem
    border 0
    border-radius .3em
    &:hover
      background #249284
  
  &__btnCancel
    display inline-block
    padding .7rem
    font-family roboto
    background-color gris 
    color white
    text-decoration none
    border-radius .3em
    margin-left 1rem
    
@media screen and (max-width:824px)
  .register
    display block
    &__tab
      width 100%
      height 3.34rem
    &__item 
      width 49%
      display inline-block
      &:last-child
        width 49%
    &__form
      width 100%
      margin 0
      
    &__resta
      width 100%
    &__title
      margin 0
      padding-top 3rem
    &__list
      margin 0
      text-align center 
    &__link
      padding 1rem 0 1rem 0
      font-size .7rem
      
    &__input
      width 70vw
  .right
    text-align center
    padding-bottom 2rem
  .send
    margin 0
      
    
    
   
    
       

    
  
  
    
    
     
    

    
    

    
    
    
  

  
   



  

          
      
      
      
      
  
 
      
   

  
      



     


      
      
    






















































